/* General ********************************************************************/
* {
    box-sizing: border-box;

    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic,
                    AppleGothic, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

body, html {
    margin: 0;
    padding: 0;
}

/* Dashboard ******************************************************************/
.dashboard {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 2fr 8fr;

    margin: 0 auto;
    height: 100vh;
}

/* Header ******************************************************************/
.header {
    grid-area: 1 / 2 / 2 / -1;

    background-color: red;
}

/* Sidebar ******************************************************************/
.sidebar {
    grid-area: 1 / 1 / -1 / 2;

    display: grid;
    grid-template-rows: 100px 280px 140px;
    gap: 24px;

    padding: 0px 40px;

    background-color: #5599DD;

    color: white;
}

.sidebar > h1 {
    display: grid;
    /* grid-template-rows: 1fr;
    grid-template-columns: 1fr; */
    align-items: center;
    
    margin: 0;
    padding: 0;

    font-size: 1.6rem;
    font-weight: 500;
}

.sidebar > ul {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-auto-rows: 80px; */

    margin: 0;
    padding: 0;

    list-style-type: none;

}

.sidebar > ul > li {
    font-size: 1.4rem;
    font-weight: 500;
}

li {
    margin: 0;
    padding: 0;
}

/* Main Content ***************************************************************/
.main-content {
    grid-area: 2 / 2 / -1 / -1;
    background-color: yellow;
}

/* Projects */

/* Announcements */
